.Card {
  min-height: 200px;
  min-width: 150px;
  position: relative;
  background: #3e3e3e;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  cursor: pointer;
  transition: transform 300ms;

  &.HEARTS,
  &.DIAMONDS {
    background-color: #782a2a;
    .value-inverted {
      color: #3a0909;
    }
    .overlay {
      background-color: #3a0909;
    }
  }

  &:hover {
    z-index: 1;
    transform: scale(1.05);
  }

  p {
    font-family: Roboto;
    font-weight: bold;
    margin: 0;
    user-select: none;
  }

  .value-inverted {
    transform: rotate(-180deg);
    padding-left: 4px;
    padding-top: 2px;
    font-size: 22px;
    color: #252525;
  }

  .suit {
    align-self: center;
    color: #ebebeb;
    font-size: 50px;
    user-select: none;
  }

  .overlay {
    width: 100%;
    background: #252525;

    .value-large {
      margin-top: 12px;
      margin-left: 4px;
      color: #ebebeb;
      font-size: 30px;
    }
  }
}
